* {
    margin:0;
    padding:0;
}
.w {
    width:1300px;
    margin:auto;
}
.n {
    width:800px;
    margin:auto;
}
.header li {
    list-style: none;
}
a {
    text-decoration: none;
}
.header{
       height: 60px;
       margin: auto auto;
       background: url(images/header.png) no-repeat;
}
.main{
    float: left;
}
.main ul li {
    float: left;
}
.main ul li a {
    display: block;
    height: 60px;
    line-height:60px;
    font-size: 20px;
    color:white;
}
.nav{
    float: left;
    margin-left: 20px;
}
.nav ul li {
    float: left;
}
.nav ul li a {
    display: block;
    height: 60px;
    padding: 0 20px;
    line-height:60px;
    font-size: 16px;
    color:white;
}
.langu{
    float: right;
    margin-right: 50px;
}
.langu ul li {
    float: right;
}
.langu ul li a {
    display: block;
    height: 80px;
    padding: 0 5px;
    line-height:60px;
    font-size: 16px;
    color:white;
}
.content{
    height: 600px;
}
.content .w{
    height: 600px;
}
.text {
    float: left;
    width:850px;
    height:520px;
    font: 20px;
    margin: 20px auto;
}
.text h2 {
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    color:#0161ac;
    margin-top: 10px;
    margin-bottom: 10px;
}
.text h3 {
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    color: rgb(90, 90, 90);
}
.text fieldset {
    border: 0;
    border-top: 1px solid #161616;
    margin: 10px 0px 20px 0px;
}
.text p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(90, 90, 90);
    margin: 10px 0px 10px 0px;
}
.subimg {
    float: right;
    width: 400px;
    height: auto;
    margin: 20px auto;
}
.subimg ul img{
    width: 100%;
}
.line {
    float: left;
    width:1300px;
    height:10px;
    margin: 10px auto;
}
.line fieldset {
    border: 0;
    border-top: 1px solid #161616;
    width: 1300px;
    margin: 0px 0px 0px 0px;
}
.news{
    float: none;
    height:350px;
    margin: 0px 0px 20px 0px;
    background: url(images/news.png) no-repeat;
}
.paper{
    float:left;
    width: 1150px;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
}
.paper h2{
    width: 700px;
    font-size: 22px;
    color: rgb(90, 90, 90);
    margin: 0px 0px 10px 0px;
}

.paper p{
    width: 700px;
    font-size: 16px;
    color: rgb(90, 90, 90);
    margin: 0px 0px 10px 0px;
}
/*定义盒子*/
.tab_contents {
    width: 1300px;
    height: 800px;
}

.tab_contents w {
    height: 800px;
}
/*导航横排*/
.tab_contents .tab_nav {
    display: flex;
}

/*导航块样式*/
.tab_contents .tab_nav li {
    padding: 10px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #e5e9ea;
    margin-right: 2px;
    color: rgb(90, 90, 90);
    cursor: pointer;
    display: flex;
    position: relative;
    overflow: hidden;
}
/*设置导航块效果 */

.tab_contents .tab_nav li h2 {
    font-size: 14px;
    font-weight: 400;
}

.tab_contents .tabNav_active {
    background: #f9f9f9 !important;
}
/*面板界面*/
.tab_contents .tab_box {
    position: relative;
    min-height: 150px;
    padding: 2em;
    color: rgb(90, 90, 90);
    background: #ffffff;
}
/*面板块*/
.tab_contents .tab_box li {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    display: flex !important;
    align-items: center;
    padding: 15px;
    overflow: hidden;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in;
}
/*设置面板过渡效果*/
.tab_contents .tabBox_active {
    visibility: visible !important;
    opacity: 1 !important;
    
}

/*面板内容样式*/
.tab_contents .tab_box li div {
    width: 100%;
    height: 200px;
    margin-left: 20px;
}

.tab_contents .tab_box li h2 {
    top: 0px;
    margin-bottom: 20px;
    font-weight: 400;
    color:#0161ac;
    text-indent: -1em;
}
/*文本溢出隐藏效果*/
.tab_contents .tab_box li p {
    margin-bottom: 10px;
    line-height: 1.5em;
    text-indent: -1em;

}
