* {
    margin:0;
    padding:0;
}
.w {
    width:1300px;
    margin:auto;
}
.n {
    width:800px;
    margin:auto;
}
.header li {
    list-style: none;
}
a {
    text-decoration: none;
}
.header{
       height: 60px;
       margin: auto auto;
       background: url(images/header.png) no-repeat;
}
.main{
    float: left;
}
.main ul li {
    float: left;
}
.main ul li a {
    display: block;
    height: 60px;
    line-height:60px;
    font-size: 20px;
    color:white;
}
.nav{
    float: left;
    margin-left: 20px;
}
.nav ul li {
    float: left;
}
.nav ul li a {
    display: block;
    height: 60px;
    padding: 0 20px;
    line-height:60px;
    font-size: 16px;
    color:white;
}
.langu{
    float: right;
    margin-right: 50px;
}
.langu ul li {
    float: right;
}
.langu ul li a {
    display: block;
    height: 80px;
    padding: 0 5px;
    line-height:60px;
    font-size: 16px;
    color:white;
}
.content{
    height: 600px;
}
.content .w{
    height: 600px;
}
.text {
    float: left;
    width:850px;
    height:520px;
    font: 20px;
    margin: 20px auto;
}
.text h2 {
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    color:#0161ac;
    margin-top: 10px;
    margin-bottom: 10px;
}
.text h3 {
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    color: rgb(90, 90, 90);
}
.text fieldset {
    border: 0;
    border-top: 1px solid #161616;
    margin: 10px 0px 20px 0px;
}
.text p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(90, 90, 90);
    margin: 10px 0px 10px 0px;
}
.subimg {
    float: right;
    width: 400px;
    height: auto;
    margin: 20px auto;
}
.subimg ul img{
    width: 100%;
}
.line {
    float: left;
    width:1300px;
    height:10px;
    margin: 10px auto;
}
.line fieldset {
    border: 0;
    border-top: 1px solid #161616;
    width: 1300px;
    margin: 0px 0px 0px 0px;
}
.news{
    float: none;
    height:350px;
    margin: 0px 0px 20px 0px;
    background: url(images/news.png) no-repeat;
}
.paper{
    float:left;
    width: 1150px;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
}
.paper h2{
    width: 700px;
    font-size: 22px;
    color: rgb(90, 90, 90);
    margin: 0px 0px 10px 0px;
}

.paper p{
    width: 700px;
    font-size: 16px;
    color: rgb(90, 90, 90);
    margin: 0px 0px 10px 0px;
}
.Conference{
    height: 600px;
}
.Conference w{
    height: 600px;
}
.Conference h3{
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    color:#0161ac;
    margin-top: 10px;
    margin-bottom: 10px;

}
.Conference ol{
    margin:auto;
    padding-left:20px;
    font-size: 16px;
    color: rgb(90, 90, 90);
}
